<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<link rel="stylesheet" href="static/main.css">
</head>
<body>

    <div class="header">
       <img src="static/images/college.jpg" alt="">
    </div>
    <nav>
        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">Contact us</a>
            <a href="#">System</a>
            <a href="#">Placement</a>
            <a href="#">Syllabus</a>
            <a href="#">Courses</a>
            <a href="#" class="right">About us</a>
          </div>
    </nav>

    <div class="row">
          <div class="side">
            <h2>Adaptive Classes</h2>
        <div class="fakeimg" style="height:200px;"><img src="static/images/clgst.jpg " width="100%" alt=""></div>
        <br><br><br><br>
        <p>Adaptive learning — or adaptive teaching — is the delivery of custom learning experiences that address the unique needs of an individual through just-in-time feedback, pathways, and resources (rather than providing a one-size-fits-all learning experience).</p>
        <h3>Here, an instructor is tutoring a student to help them understand a difficult concept. Almost inevitably this instructor will alter their hints and advice in response to verbal and nonverbal cues from the learner — shifting the lesson flow to accommodate questions and lingering confusion, referencing current events or known student passions and preferences, changing activities in the moment (e.g. the student is having trouble, so walking them through the assignment instead of asking them to work alone)</h3>
        <h2>Sports and Curriculum</h2>
        <div class="fakeimg" style="height:200px;"><img src="static/images/sports.jpg " width="100%" alt="" ></div><br>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div>
     </div>
      <div class="main">...</div>
    </div>




    
</body>
</html>